.abt {
    background-color: #f5f5f5;
    padding: 20px;
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
  }
  
  .about-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 20px;
  }
  
  .abt-image-container img {
    max-width: 100%;
    max-height: 100%;
    border: 2px solid #ccc;
    border-radius: 30px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2); 
  }
  
  .text-container {
    max-width: 50%;
    text-align: left;
  }
  
  .text-container h1 {
    font-size: 28px;
    color: #333; 
    margin-bottom: 20px;
  }
  
  .text-container p {
    font-size: 16px;
    line-height: 1.5;
    color: #666; 
  }
  
  .abt-contact-section {
    border-radius: 60px 0px 60px 0px;
    background-color: #c08f4c;
    color: #fff;
    text-align: center;
    padding: 30px;
  }
  
  .abt-contact-section h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .abt-contact-section p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .abt-contact-button {
    border-radius: 20px 0 20px 0;
    display: inline-block;
    padding: 10px 20px;
    background-color: #f5f5f5;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    transition: 0.5s ease-in-out;
  }
  
  .abt-contact-button:hover {
    background-color: #ff4500;
    color: white;
    box-shadow: 0 0 5px #ff4500,
                0 0 25px #ff4500,
                0 0 50px #ff4500,
                0 0 200px #ff4500;
  }
  